@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(../fonts/ODszJI8YqNw8V2xPulzjO_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu'), url(../fonts/2vaWVxeAxHVkFcnCBCQCyRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
}
body{
	margin:0;
	padding:0;
	overflow:hidden;
	background: #333;
	width:100vw;
	height:100vh;
	position:absolute;
	top:0;
	font-family:Ubuntu;
	color:white;
}
div#app_container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
div#container {
    float: left;
    width: 100%;
    height: 100%;
}
