#preview > figure {
    margin: 0;
    width: 70%;
    position: absolute;
    right: 0;
    top: 0;
}
#preview > figure > img, #preview > figure > video {
    width: 100%;
}
div#preview {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
div#preview > div {
    position: absolute;
    z-index: 1;
    width: 35%;
    box-sizing: border-box;
    padding: 3rem 0 0 3rem;
}
div#preview > div > h1 {
    font-size: 3rem;
    margin: 0 0 2rem 0;
}
div#preview > div > p {
    margin: 0 0 1rem 0;
    line-height: 1.5;
}
#preview > figure:before {
    content: " ";
    position: absolute;
    left: 0;
    background: linear-gradient(to right, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    height: 100%;
    width: 25%;
    top: 0;
}
#preview > figure:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15%;
    background: linear-gradient(to bottom, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%);
    width: 100%;
}
#container[data-view='grid'] .categories.list{
    display:none;
}
.list > strong {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    float: left;
    width: 100%;
    color: #FFFFCC;
    font-size: 1.2rem;
}
.list > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}
.list > ul > li {
    float: left;
    margin-right: 1rem;
}
.list > ul > li:before {
    content: "â—";
    font-size: 1rem;
    position: relative;
    top: 2px;
    margin-right:3px;
    float: left;
    margin-bottom: 1rem;
}
.list {
    float:left;
    width:100%;
    margin-bottom:1rem;
}
.buttons {
    float: left;
    width: 100%;
    margin-top: 1rem;
    opacity:0;
    transition-duration:0.5s;
}
.buttons > .button {
    width: 100%;
    background: #4d4d4d;
    line-height: 4rem;
    float: left;
    text-align: center;
    border-radius: 1.5rem;
    margin: 2vh 0;
    font-weight: 700;
    font-size: 2.2rem;
    transition-duration: 0.5s;
    cursor:pointer;
}
.buttons > .button[data-status='active'] {
    background: #FF6600;
}
#container[data-view='preview'] .buttons {
    opacity: 1;
}
.progress_container > figure.screenshot[data-show='true'] {
    display: block;
}
@media(max-height:800px)
{
	.buttons {
	    position:absolute;
	    bottom:3vh;
	}
	.buttons > .button {
	    width: 30%;
	    margin-right: 3%;
	}
	div#preview > div.info {
	    height:100vh;
	}
}
